<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Logo</h3>
        </div>
        <ul class="list-unstyled components">
            <p><strong>Welcome to Food Order</strong></p>
            <li>
                <a routerLink="/dashboard">Dashboard</a>
            </li>
            <li>
                <a routerLink="/customer-list">Visit Customers
                <i class="fa fa-angle-double-right ml-5"></i></a>
            </li>
        </ul>
        <footer class="">
            <!-- Copyright -->
            <div class="footer-copyright">Design & Developed by © 2019 <Strong>Suyog Arvind Bankar</Strong>               
            </div>            
        </footer>
    </nav>

    <!-- Page Content  -->
    <div id="content" style="background-color: whitesmoke;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-outline-primary">
                    <i class="fa fa-align-left mr-2"></i>
                    <span>Open Menu</span>
                </button>
                <button type="button" class="btn btn-outline-primary ml-4" routerLink="/addnew-customers">                       
                    <span>Add Customers</span>
                    <i class="fa fa-plus ml-2" aria-hidden="true"></i>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                    </ul>
                </div>
            </div>
        </nav> 
        
        <div class="container" >
            <div class="row">
                <div class="col-md-6">
                    <div class="" style="width: 100%; height: auto;">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <!-- <router-outlet></router-outlet>                                 -->
                                <app-customer-list (messageEvent)="incomingarray=$event"></app-customer-list>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="" style="width: 100%; height: auto;">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <!-- <app-customer-details></app-customer-details> -->
                                <router-outlet *ngIf="incomingarray != ''" (filtermessage)="customerDetailarray=$event"></router-outlet>                              

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="" style="width: 100%; height: auto;">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <!-- <app-order-details></app-order-details> -->
                                <!-- <app-order-details></app-order-details> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="" style="width: 100%; height: auto;">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <!-- <router-outlet></router-outlet> -->
                            </div>
                        </div>
                    </div>
                </div>               
            </div>  
        </div>
    </div>
</div>