<div class="container">
  <div class="card">
    <div class="card-header"><h3>customer List</h3></div>
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-light">
                <tr>
                  <th scope="col">Customer Name</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
          <tbody>
            <tr *ngFor="let customer of customers">
              <td>{{ customer.name | uppercase }}</td>
              <td><a routerLink="/customer-details/{{customer.id}}" class="btn btn-outline-danger btn-md">View Details</a></td>
            </tr>            
          </tbody>
        </table>
    </div> 
  </div>
</div>


  