<div class="container">
    <div class="card">
      <div class="card-header"><h3>CUSTOMER DETAILS</h3></div>
      <div class="card-body">
          <table class="table table-bordered table-striped">
              <thead class="thead-light">
                <tr *ngFor="let customer of filterData">
                  <th colspan="2" style="text-align:center;">{{customer.name | uppercase}} </th>
                  <!-- <th></th> -->
                </tr>
              </thead>
              <tbody style="text-align:center;">
                  <tr *ngFor="let customerid of filterData">
                    <td><strong>Orders</strong></td>
                    <td><a routerLink="/order/{{customerid.id}}" class="btn btn-outline-danger btn-md">Click</a></td>
                  </tr>
            
                  <tr *ngFor="let customerid of filterData">
                    <td><strong>Details</strong></td>
                    <td><a routerLink="/details/{{customerid.id}}" class="btn btn-outline-danger btn-md">Click</a></td>
                  </tr>
            
                  <tr *ngFor="let customerid of filterData">
                    <td><strong>Edit</strong></td>
                    <td><a routerLink="/details/{{customerid.id}}" class="btn btn-outline-danger btn-md">Click</a></td>
                  </tr>
            
                  <tr *ngFor="let customerid of filterData">
                    <td><strong>Delete</strong></td>
                    <td><a routerLink="/details/{{customerid.id}}" class="btn btn-outline-danger btn-md">Click</a></td>
                  </tr>
                
              </tbody>
          </table>
      </div>
    </div>
  </div>
  
  
    

